.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 89px;

  &__logo {
    width: 35%;
    background-color: #ebf3ff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 15px;
    box-sizing: border-box;

    .logo {
      width: 320px;
    }
  }

  &__menu {
    width: 65%;
    background-color: #fff;
    display: flex;
    flex-direction: row;

    &__nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 0 10px;

      &.active {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        background-color: #ebf3ff;
        opacity: 0.9;
        z-index: 3;
        border-top: solid 0.5px #8ca0bf;
        padding: 0;
        padding-bottom: 5px;
        a {
          padding-top: 10px;
        }
      }

      a {
        font-size: 12px;
        letter-spacing: 0.6px;
        line-height: 22px;
        color: #364459;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        transition: .4s;
        padding: 0 5px;

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          color: #43d9d1;
        }
      }
    }

    &__icons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 89px;
      height: 100%;
      border-left: solid 0.5px #8ca0bf;
      background-color: #fff;
      cursor: pointer;
      transition: .4s;
      &:hover {
        background-color: #dfe7f2;
      }

      &_blue {
        background-color: #0d3a7f;
        &:hover {
          background-color: #0b3069;
        }
      }
    }

    &__icons_wrap {
      display: flex;

      &.active {
        flex-direction: column-reverse;
        position: absolute;
        top: 0;
        right: 0;

        .header__menu__icons {
          display: flex;
          height: 60px;
          z-index: 5;
          border-bottom: solid 0.5px #8ca0bf;

          &_blue {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  &__burger {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 18px;
    box-sizing: border-box;
    border-right: solid 0.5px #8ca0bf;
    display: none;
    cursor: pointer;

    span {
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: #8ca0bf;
    }
  }
}
